<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paypal</title>
</head>
<body>
<h1>Paypal Integration Page</h1>
<h2> Buy for $20</h2>
<form action="/pay" method="post">
    <input type="submit" value="Buy">
</form>
</body>
</html>